.container {
  display: flex;
  justify-content: space-between;

  .left {
    span {
      cursor: pointer;
    }

    .mainBanner {
      display: block;
      font-size: 30px;
    }

    .boss {
      background-color: skyblue;
    }

    .employee {
      background-color: #faeb78;
    }
  }

  .right {
    display: flex;
    align-items: center;

    span {
      margin: 5px;
      cursor: pointer;
    }
  }
}
